<h1>Modifier le projet</h1>

<form [formGroup]="projectFormToUpdate">
    <div class="form-group">
      <label for="name">Nom du projet</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
