<nav class="menu">
    <div class="menu__list">
        <div class="menu__item">
            <a routerLink="/add-new-project" class="menu__link" 
               >Créer un nouveau projet</a>
        </div>

        <div class="menu__item">
            <a routerLink="/login" class="menu__link"
                >Login</a>
        </div>
    </div>
</nav>
