<form [formGroup]="formLogin">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
