.project-tickets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu__link {
    margin: 0.5em;
    border-radius: 2px;
}

.project-tickets {

    &__item {
        width: 20%;
        margin: 1em;
        background-color: aliceblue;
        padding: 1rem;
        border-radius: 10px;
    }

    &__item-title {
        font-weight: bold;
    }

    &__item-status {
        padding: 0.5rem;
        background-color: #a188ef;
        border-radius: 10px;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}