<p>Liste des tâches :</p>

<div class="project-tickets-container">
  <div class="project-tickets__item" *ngFor="let ticket of tickets">
    <p class="project-tickets__item-title">{{ ticket.title }}</p>
    <p class="project-tickets__item-content">{{ ticket.content }}</p>
    <p class="project-tickets__item-status">{{ ticket.status}}</p>
    <p class="project-tickets__item-date">{{ ticket.createdAt | date}}</p>

    <div class="button-container">
      
      <button [routerLink]="['/projects/', projectId, 'edit-ticket', ticket.id]">Modifier</button>
      <button (click)='deleteTicket(ticket)'>Supprimer</button>
    </div>
    
  </div>
</div>

