<form [formGroup]="ticketForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="content">Contenue</label>
      <textarea class="form-control" formControlName="content"></textarea>
    </div>

    <label>Statut</label>
    <div>
      <label>
        <input type="radio" name="status" value="TODO" formControlName="status"> To Do
      </label>
      <label>
        <input type="radio" name="status" value="IN PROGRESS" formControlName="status"> In Progress
      </label>
      <label>
        <input type="radio" name="status" value="DONE" formControlName="status"> Done
      </label>
    </div>


    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
