<ng-container *ngIf="projects$ | async as projects">
    <ul class="project-list__list" *ngIf="projects.length; else noproject">
      <li
        class="project-list__item"
        *ngFor="let project of projects trackBy: trackProjectFn"
        [routerLink]="['/projects', project.id]"
      >
      <a [routerLink]="['/projects', project.id]">{{project.name}}</a>

      </li>
    </ul>
  </ng-container>
  
  <ng-template #noproject>Aucun projet</ng-template>
  
