<article class="project-card" *ngIf="project">
    <div class="project-card__infos">
      <div class="project-card__header">
        <h2 class="project-card__title">
          {{ project.name }}
        </h2>
      </div>
      <p class="project-card__baseline">
        {{ project.name }}
      </p>
  
      <app-project-tickets
        [tickets]="project.tickets"
      ></app-project-tickets>
    </div>

  </article>
