
    <article class="detail-project" *ngIf="project$ | async as project">
      <header class="detail-project__header">
        <button [routerLink]="['/']">
          Retour</button>
  
        <div class="detail-project__header-actions">

          <button class="menu__link" [routerLink]="['edit']">Modifier le projet</button>
  
          <button
          class="menu__link"
            type="button"
            (click)="deleteProject(project)"
          >Supprimer le projet
          </button>

          <button [routerLink]="['/projects/', project.id, 'add-new-ticket']" class="menu__link">Ajouter une nouvelle
            tâche</button>
        </div>
      </header>
  
      <main class="detail-project__main">
  
        <div class="detail-project__main-right">
          <div class="detail-project__main-header">
            <h1 class="detail-project__title">
              {{ project.name }}
            </h1>
          </div>
          <p class="detail-project__description">{{ project.description }}</p>
  
          <app-project-tickets
            [tickets]="project.tickets"
            [projectId]="project.id"
          ></app-project-tickets>
        </div>

      </main>
    </article>
  
