@media only screen and (max-width: 800px) {
    .header__left {
        display: none;
    }

    .header__center {
        font-size: 2em !important;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    position: sticky;
    top: 0;
    background: #ee2238;
    height: 3em;
    color: white;
    border-bottom: 3px solid black;

    margin-bottom: 1rem;

    .header__left,
    .header__right,
    .header__middle {
        flex: 1 1 auto;
        width: calc(100% / 3);
    }

    .header__logo {
        width: 25%;
    }

    .header__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .header__center {
        font-size: 3em;
    }

    .header__title{
        color: white;
        font-size: x-large;
    }
}